body    {
    background-color: #424101;
    background-image: url(https://www.alimentarium.org/sites/default/files/media/image/2017-02/AL027-01_pomme_de_terre_0_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color:azure;
    text-align: center;
    margin: 200px;
}
p {
    color: purple;
    text-align: center;
    margin-top: auto;
}
div{
    margin: 10px;
    padding: 20px;
}