body {
    background-color: blue;
}
h1{
    color:azure;
    text-align: center;
}
p {
    color: palegreen;
    text-align: center;
}
div{
    background-color: purple;
    margin: auto;
    padding: 20px;
    border-radius: 5px, 10px;
}